body{
    background-color: cadetblue;
}

.bingotable td{
    border: 1px solid white;
    width: 20%;
    height: 20%;
    text-align: center;
    font-size: 16px;
}
  
.bingotable table{
    /* no resizing of cells */
    table-layout: fixed;
    width: 600px;
    height: 600px;
    /* no margins between cells */
    border-collapse: collapse;
}

.genrelist {
    list-style: none;
}

.navbar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.footer{
    position: fixed;
    font-size: 8px;
    bottom: 0;
    right: 0;
}

/* printing specific css*/
@media print {
    #no-print {
      display: none;
    }
    #print {
          display: block;
    }
    #print table td{
          border: 1px solid black;
    }
  }