<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bingoapp/style.css' %}">
<head>
    <title>Bingo Generator</title>
    <meta charset="UTF-8">
    <meta name="description" content="Bingo Generator App">
    <meta name="keywords" content="Bingo,Movies,Movie,Fun">
    <meta name="author" content="Mikko Lehtosaari">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <section  id="no-print" class="header">
        <h1>Bingo Generator</h1>
    </section>
</header>
{% block content %}{% endblock %}
<footer>
    <section class="footer">
        created by: Mikko Lehtosaari 2018
    </section>
</footer>
</html>