{% extends "bingoapp/base.html" %}
{% block content %}
<input type=button value="Previous Page" onClick="javascript:history.go(-1);">
{% if context %}
    <table>
    <tr><th>ID</th><th>Tagline</th></tr>
    {% for line in context %}
        <tr><td>{{ line.id }}</td><td>{{ line.tagline }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No lines are available.</p>
{% endif %}
{% endblock %}
