{% extends "bingoapp/base.html" %}
{% block content %}
<section id="no-print" class="navbar" >
<input type=button value="Previous Page" onClick="javascript:history.go(-1);">
<input type=button value="Re-roll bingo" onClick="javascript:location.reload(true)">
</section>
{% if context %}
<section class=bingotable id="print">
    <table class=bingotable>
    <!-- 5x5 grid layout for bingo -->
    {% for line in context %}
        {% if forloop.counter == 1 or forloop.counter == 6 or forloop.counter == 11 or forloop.counter == 16 or forloop.counter == 21 %}<tr>{% endif %}
        {% if forloop.counter < 26 %}<td>{{ line }}</td>{% endif %}
        {% if forloop.counter == 5 or forloop.counter == 10 or forloop.counter == 15 or forloop.counter == 20 or forloop.counter == 25 %}</tr>{% endif %}
    {% endfor %}
    </table>
</section>
{% endif %}
{% endblock %}