{% extends "bingoapp/base.html" %}
{% block content %}
<h4>Select Topic</h1>
<!-- print each genre and link to a bingo grid -->
{% if genrelist %}
    <ul class="genrelist">
    {% for genre in genrelist %}
    <li><a href="{% url 'grid' genre.name %}">{{ genre.name }}</a> - <a href="{% url 'genreview' genre.name %}">View data</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No genres are available.</p>
{% endif %}
{% endblock %}